@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Rubik:wght@300;400&display=swap');

html, body {
    font-family: 'League Gothic', monospace;
    box-sizing: border-box;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}