@import './vars.scss';

.container {
    display: block;
}

.planLink {
    position: fixed;
    z-index: 4;
    top: 5px;
    right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    background: $light;
    padding: 3px;

    p {
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 0 5px;
        padding: 0;
        text-transform: uppercase;
        color: rgba(0,0,0,.6);
    }

    svg {
        width: 10px;
        opacity: .6;
    }
}

.printLink {
    position: fixed;
    z-index: 4;
    bottom: 5px;
    right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    background: $light;
    padding: 3px;

    p {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: rgba(0,0,0,.6);
    }

    svg {
        width: 10px;
        margin: 0 0 0 5px;
        transform: rotate(180deg);
        opacity: .6;
    }
}

.paintingsLink {
    position: fixed;
    z-index: 4;
    bottom: 5px;
    left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    background: $light;
    padding: 3px;

    p {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: rgba(0,0,0,.6);
    }

    svg {
        width: 10px;
        margin: 0 0 0 5px;
        transform: rotate(180deg);
        opacity: .6;
    }
}